@import "https://fonts.googleapis.com/css2?family=Lato&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
}


@media screen and (min-width: 768px){
  .nav-mobile-version{
    display: none;
  }
  a {
    color: black;
  }

  li,
  a {
  text-decoration: none;
  list-style-type: none;
}
  nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.top-navbar{
  background-color: #272a31;
  display: flex;
  justify-content: flex-end;
  padding-right: 15%;
  width: 100%;
}
.top-nav{
  display: flex;
  gap: 20px;
  padding: 5px;
}
.fa-brands,
.menu-link.top {
  color: #fff;
}

.main-nav-desktop{
  display: flex;
  background-color: white;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 25%;
}
.logo {
  margin-right: auto;
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.text h3 {
  font-size: 13px;
  color: #1c1e22;
  line-height: 10px;
}

.main-nav-links{
  display: flex;
  justify-content: center;
  margin-right: 250px;
  padding: 20px 0;
  margin-top: -100px;
  margin-left: 200px;
  width: 100%;
  gap:20px;
}
.menu-link.bottom-first {
  color: #e64533;
}

.menu-link.bottom-cc {
  border: 3px solid #c53f30;
  color: #c53f30;
}

/* Hero SECTION */

.hero-section{
  min-height: 375px;
  position: relative;
  /* background: url(/assets/images/blur2.jpg); */
  padding-top: 50px;
  padding-bottom: -55px;
  background-position: center;
  background-size: cover;
}
.hero-container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin-left: 10%;
  padding-top: 50px;
}
.welcome-intro {
  font-size: 18px;
  color: #ec5242;
  padding: 10px;
  margin-bottom: 10px;
}

.hero-heading {
  padding: 16px;
  font-size: 60px;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #ec5242;
}
.hero-message {
  max-width: 550px;
  height: auto;
  line-height: 30px;
  border: 3px solid #fff;
  background-color: #f7f7f7;
  padding: 1px;
  margin-top: 30px;
  border-radius: 3px;
}
.hero-title{
  width: 100%;
  font-weight: 900;
  text-transform: uppercase;
  background: url(/assets/images/orange.jpg);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}
.hero-message > p {
  padding: 4px;
  /* padding-top: 20px; */
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  color: #272a31;
}
.hero-date {
  margin-bottom: 100px;
  padding: 0 10px;
}
.hero-date > h2 {
  line-height: 30px;
  font-size: 4vw;
  padding-top: 50px;
  color: #272a31;
  margin-bottom: 30px;
}
.hero-date h5 {
  font-size: 1.3rem;
  padding-top: 10px;
  color: #272a31;
}
.main-programs {
  background-image:url(/assets/images/prg.jpg);
  display: flex;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  height: 480px;
  max-width: 100%;
  margin-top: 30px;
}
#program-footer {
  text-transform: uppercase;
  text-decoration: underline;
  box-sizing: border-box;
  padding: 30px;
  color: #fff;
}
#program-heading{
  color: white;
  margin-top: -90px;
}
.line{
  width: 45px;
  height: 3px;
  border-radius: 50px;
  background-color: #e03623;
  margin: 0 auto;
  margin-top: 10px;
}
.program-container{
  display: flex;
  color: white;
  max-width: 1000px;
  padding: 5px;
  gap: 20px;
}

.all-programs{
  margin: 3px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  transition: 0.5s ease-out;
}

.all-programs:hover{
  border: 2px solid rgb(214, 71, 19);
  transform: translate(0.5s) ;
}

.podium {
  padding: 10px;
  align-items: center;
  background-image:
    radial-gradient(
      circle at 99% 33%,
      hsl(235deg 0% 48% / 3%) 0%,
      hsl(235deg 0% 48% / 3%) 37%,
      transparent 37%,
      transparent 100%
    ),
    radial-gradient(
      circle at 46% 16%,
      hsl(235deg 0% 48% / 3%) 0%,
      hsl(235deg 0% 48% / 3%) 43%,
      transparent 43%,
      transparent 100%
    ),
    radial-gradient(
      circle at 99% 25%,
      hsl(235deg 0% 48% / 3%) 0%,
      hsl(235deg 0% 48% / 3%) 22%,
      transparent 22%,
      transparent 100%
    ),
    radial-gradient(
      circle at 57% 88%,
      hsl(235deg 0% 48% / 3%) 0%,
      hsl(235deg 0% 48% / 3%) 86%,
      transparent 86%,
      transparent 100%
    ),
    radial-gradient(
      circle at 82% 78%,
      hsl(235deg 0% 48% / 3%) 0%,
      hsl(235deg 0% 48% / 3%) 22%,
      transparent 22%,
      transparent 100%
    ),
    linear-gradient(
      90deg,
      rgb(40 37 37),
      rgb(40 37 37)
    );
  height: 100%;
}

.podium > h2 {
  color: #ec5242;
  font-size: 18px;
  padding: 7px;
}

.podium > p {
  padding: 10px 0;
  font-size: 15px;
  color: white;
}


.speakers-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.speaker-container {
  max-width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.speaker-text {
  width: 60%;
  margin: 10px;
}
.speaker-img{

}

.para {
  padding: 0 10px;
  font-size: 0.8rem;
  color: #ec5242;
  font-style: italic;
}

.bio {
  padding: 0 10px;
  font-size: 1rem;
}

.name {
  padding: 3px 10px;
  font-size: 1.2rem;
  font-weight: 800;
}

.speaker-heading {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.5vw;
  padding: 20px;
  color: #272a31;
}
#see-program-link{
  display: none;
}

.top-footer{
  background-color: #272a31;
  height:300px;
}
.footer-h2{
  align-items: center;
  color: #fff;
  margin-left: 40%;

}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider
{
  margin-top: 40px;
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;
  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.bottom-footer{
  background-color: aliceblue;
  border: 1px solid black;
  height: 200px;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
}

.log-hiddekel{
  margin-left: 30%;
}
.hiddekel-text-footer > h3{
  align-items: center;
  margin-left: 70%;
  margin-top: -5%;
}
.hiddekel-name{
  color: blue;
  font-size: 35px;
}
.copy-right{
  margin-left:30% ;
}

}