@import "https://fonts.googleapis.com/css2?family=Lato&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
}

@media screen and (min-width: 768px) {
  .nav-mobile-version {
    display: none;
  }

  a {
    color: black;
  }

  li,
  a {
    text-decoration: none;
    list-style-type: none;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .top-navbar {
    background-color: #272a31;
    display: flex;
    justify-content: flex-end;
    padding-right: 15%;
    width: 100%;
  }

  .top-nav {
    display: flex;
    gap: 20px;
    padding: 5px;
  }

  .fa-brands,
  .menu-link.top {
    color: #fff;
  }

  .main-nav-desktop {
    display: flex;
    background-color: white;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 25%;
  }

  .logo {
    margin-left: -200px;
    display: flex;
    align-items: center;
  }

  .text h3 {
    font-size: 13px;
    color: #1c1e22;
    line-height: 10px;
  }

  .main-nav-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px 0;
    margin-top: -80px;
    margin-left: 200px;
  }

  .menu-link.bottom-first {
    color: #e64533;
  }

  .menu-link.bottom-cc {
    border: 3px solid #c53f30;
    color: #c53f30;
  }

  .hero-section {
    background-image: url(../images/mobile_intro_bg.png);
    position: relative;
    padding-bottom: -55px;
    background-position: center;
    background-size: cover;
  }

  .hero-container {
    width: 100%;
    height: 100%;
    margin-right: 60%;
    flex-direction: column;
  }

  .welcome-intro {
    font-size: 18px;
    color: #ec5242;
    padding: 20px;
    margin-left: 5%;
    margin-bottom: 10px;
  }

  .hero-heading {
    padding: 16px;
    margin-left: 5%;
    font-size: 60px;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #ec5242;
  }

  .hero-message {
    width: 550px;
    height: auto;
    line-height: 30px;
    border: 3px solid #fff;
    background-color: #f7f7f7;
    padding: 1px;
    margin-left: 5%;
    margin-top: 30px;
    border-radius: 5px;
  }

  .hero-title {
    width: 100%;
    font-weight: 900;
    text-transform: uppercase;
    background: url(../images/orange.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hero-message > p {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
  }

  .hero-date {
    margin-bottom: 100px;
    padding: 0 10px;
    margin-top: -10px;
  }

  .hero-date > h2 {
    line-height: 30px;
    font-size: 4vw;
    padding-top: 50px;
    color: #585252;
    margin-bottom: 30px;
    margin-left: 5%;
  }

  .hero-date > h3 {
    color: rgb(78, 74, 74);
    margin-left: 5%;
    margin-top: -2px;
  }

  .hero-date > h5 {
    padding-top: 10px;
    margin-left: 5%;
    color: #5e5858;
  }

  .main-programs {
    background-image: url(../images/prg.jpg);
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    height: 480px;
    max-width: 100%;
    margin-top: 30px;
  }

  #program-footer {
    text-transform: uppercase;
    text-decoration: underline;
    box-sizing: border-box;
    padding: 30px;
    color: #fff;
  }

  #program-heading {
    color: white;
    margin-top: -90px;
  }

  .line {
    width: 45px;
    height: 3px;
    border-radius: 50px;
    background-color: #e03623;
    margin: 0 auto;
    margin-top: 10px;
    align-items: center;
  }

  .program-container {
    display: flex;
    color: white;
    max-width: 1000px;
    padding: 5px;
    gap: 20px;
  }

  .all-programs {
    margin: 3px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    transition: 0.5s ease-out;
  }

  .all-programs:hover {
    border: 2px solid rgb(214, 71, 19);
  }

  .podium {
    padding: 10px;
    align-items: center;
    background-image:
      radial-gradient(
        circle at 99% 33%,
        hsl(235deg 0% 48% / 3%) 0%,
        hsl(235deg 0% 48% / 3%) 37%,
        transparent 37%,
        transparent 100%
      ),
      radial-gradient(
        circle at 46% 16%,
        hsl(235deg 0% 48% / 3%) 0%,
        hsl(235deg 0% 48% / 3%) 43%,
        transparent 43%,
        transparent 100%
      ),
      radial-gradient(
        circle at 99% 25%,
        hsl(235deg 0% 48% / 3%) 0%,
        hsl(235deg 0% 48% / 3%) 22%,
        transparent 22%,
        transparent 100%
      ),
      radial-gradient(
        circle at 57% 88%,
        hsl(235deg 0% 48% / 3%) 0%,
        hsl(235deg 0% 48% / 3%) 86%,
        transparent 86%,
        transparent 100%
      ),
      radial-gradient(
        circle at 82% 78%,
        hsl(235deg 0% 48% / 3%) 0%,
        hsl(235deg 0% 48% / 3%) 22%,
        transparent 22%,
        transparent 100%
      ),
      linear-gradient(
        90deg,
        rgb(40 37 37),
        rgb(40 37 37)
      );
    height: 100%;
  }

  .podium > h2 {
    color: #ec5242;
    font-size: 18px;
    padding: 7px;
  }

  .podium > p {
    padding: 10px 0;
    font-size: 15px;
    color: white;
  }

  .speakers-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }

  .speaker-container {
    max-width: 500px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .speaker-text {
    width: 60%;
    margin: 10px;
  }

  .para {
    padding: 0 10px;
    font-size: 0.8rem;
    color: #ec5242;
    font-style: italic;
  }

  .bio {
    padding: 0 10px;
    font-size: 1rem;
  }

  .name {
    padding: 3px 10px;
    font-size: 1.2rem;
    font-weight: 800;
  }

  .speaker-heading {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.5vw;
    padding: 20px;
    color: #272a31;
  }

  #see-program-link {
    display: none;
  }

  .top-footer {
    background-color: #272a31;
    height: 300px;
  }
 

  .footer-h2 {
    text-align: center;
    color: #fff;
  
   
  }

  /* Clients Section */

  #client-section::before {
    content: "";
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 1.9;
  }

  #clients {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .client-item {
    padding: 24px;
  }

  #clients img {
    height: 104px;
  }

  .bottom-footer {
    background-color: black;
    border: 1px solid black;
    height: 200px;
    margin-top: 20px;
    color: #fff;
    padding-top: 50px;
    display: flex;
  }

  .hiddekel-text-footer > h3 {
    align-items: center;
  }

  .footer-logo {
    display: flex;
    gap: 50px;
    padding: 20px;
  }

  .hiddekel-name {
    font-size: 35px;
  }

  .copy-right {
    margin-left: 30%;
  }

  .see-more-btn {
    display: none;
  }
}
