@import "https://fonts.googleapis.com/css2?family=Lato&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
}

@media screen and (max-width: 768px)  {
  .top-nav,
  .logo-nav{
    display: none;
  }

  .nav-mobile-version{
    display: flex;
    position: absolute;
  }

  .humberger-menu{
    margin-right: auto;
    cursor: pointer;
    z-index: 100;
    margin-left: 20px;
    list-style: none;
  }

  .menu-link-bar{
    width: 35px;
    height: 5px;
    margin: 5px 0;
    background-color: rgb(68, 66, 66);
    transition: 0.5s;
  }


  .humberger-menu.change .menu-link-bar.span-one {
    transform: translate(0, 11px) rotate(-45deg);
    z-index: 3;
    margin-top:20% ;
    list-style: none;
    background-color: #fdfdf7;
  }

  .humberger-menu.change .menu-link-bar.span-two {
    opacity: 0;
  }

  .humberger-menu.change .menu-link-bar.span-three {
    transform: translate(0, -9px) rotate(45deg);
    z-index: 3;
    background-color: #fdfdf7;
  }

  .bottom-menu-mobile{
    display: none;
  }

  .show-menu{
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    top:0;
    left: 0;
    background-color: rgb(48, 45, 45);
    background-color: rgba(51, 46, 46, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    backdrop-filter: blur(2px);
  }

  .main-nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
    padding-top: 50px;
    list-style: none;
  }

  .menu-link-bottom {
    color: #ebe6e6;
    font-size: 5vw;
    font-weight: 70;
    padding: 10%;
    list-style: none;
    margin-left: 20px;
    
  }
  a{
    text-decoration: none;
  }

  /*Hero section  */

  .hero-section{
    background-image: url(../images/mobile_intro_bg.png);
    background-repeat: no-repeat;
    height: 750px;
    width: 100%;
  }
  .hero-container{
    display: flex;
    flex-direction: column;
    padding-top:200px;
  }

  .welcome-intro{
    padding: 0 40px;
    color: red;
    margin-top:-70px;
  }

  .hero-heading{
    margin-left: 40px;
    margin-top: 20px;

  }
  .hero-title{
    font-size: 35px;
    font-weight: 900;
    text-transform: uppercase;
    background: url(../images/orange.jpg);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
 
  }

  .hero-message{
    margin-top: 20%;
    margin-left: 40px;
    background-color: #fdfdf7;

  }

  .hero-date{
    padding: 0 40px;
    margin-top: 15%;

  }

  .hero-container > p{
    font-size: 10px;
  }

  /* Mobile program section */
  .main-programs{
    margin-top: 60px;
    background-image:url(../images/prg.jpg);
  }
  #program-heading{
    color: white;
    text-align: center;
    font-size: 20px;
  }
  .line{
    width: 45px;
    height: 3px;
    border-radius: 50px;
    background-color: #e03623;
    margin: 0 auto;
    margin-top: 10px;
  }
  .program-container{
    display: flex;
    flex-direction: column;
    max-width: 900px;
    height: 650px;
    padding: 10px;
    gap: 6px;
  }
  

  .podium{
    display: flex;
    align-items: center;
    margin-right: 0 auto;
    height: 100px;
    background-image:
    radial-gradient(
      circle at 99% 33%,
      hsl(235deg 0% 48% / 3%) 0%,
      hsl(235deg 0% 48% / 3%) 37%,
      transparent 37%,
      transparent 100%
    ),
    radial-gradient(
      circle at 46% 16%,
      hsl(235deg 0% 48% / 3%) 0%,
      hsl(235deg 0% 48% / 3%) 43%,
      transparent 43%,
      transparent 100%
    ),
    radial-gradient(
      circle at 99% 25%,
      hsl(235deg 0% 48% / 3%) 0%,
      hsl(235deg 0% 48% / 3%) 22%,
      transparent 22%,
      transparent 100%
    ),
    radial-gradient(
      circle at 57% 88%,
      hsl(235deg 0% 48% / 3%) 0%,
      hsl(235deg 0% 48% / 3%) 86%,
      transparent 86%,
      transparent 100%
    ),
    radial-gradient(
      circle at 82% 78%,
      hsl(235deg 0% 48% / 3%) 0%,
      hsl(235deg 0% 48% / 3%) 22%,
      transparent 22%,
      transparent 100%
    ),
    linear-gradient(
      90deg,
      rgb(40 37 37),
      rgb(40 37 37)
    );
  height: 100%;

  }
  .podium > p{
    text-align: start;
    font-size: 3vw;
    width: 70%;
    color: #fdfdf7;
    margin-left: auto;
  }
  .podium > h2{
    color: #ec5242;
    font-size: 18px;
    padding: 7px;
  }
  .all-programs{
    height: 100px;
    padding: 0;
  }

  .bottom-title{
    visibility: hidden;
    position: relative;
    align-items: center;
  }
  .bottom-title::after {
    visibility: visible;
    position: absolute;
    align-items: center;
    justify-content: center;
    content: "Hiddekel Designs Print Expo Summit";
    text-decoration: none;
    box-sizing: border-box;
    margin-top: -70px;
    background-color: #f72509d2;
    font-size: 18px;
    font-weight: 600;
    width: 70%;
    color: white;
    margin-left: -50px;
    border-radius: 4px;
  }
  #program-footer {
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    padding: 30px;
    background-color: #df210c;
    margin-left: -50%;
    margin-top: -20%;
  }
  .speaker-container {
    max-width: 500px;
    height: 100%;
    gap: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  .speaker-heading{
    margin-left: 100px;
    padding: 20px;
    font-size: 2.5vw;
    align-items: center;
  }
  .speaker-heading > h3{
    text-align: center;
  }
  .speaker-text{
    font-size: 10px;
  }
  .name,
  .para {
    color: #ec5242;
    font-size: 1.7vw;
  }

  .see-more-btn {
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    border: 1px solid #d3d3d3;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #272a31;
  }

  .fa-chevron-down {
    color: #ec5242;
  }

  .top-footer{
    display: none;
  }
  .bottom-footer{
    background-color: #272a31;
  }
  .log-hiddekel{
   margin-left: 20px;
   margin-top: 25px;
  }
  .hiddekel-text-footer{
    color: #fdfdf7;
    padding: 10px;
    margin-left: 10%;
 
  }
  .copy-right{
    color: #fdfdf7;
    padding: 10px;
    margin-left: 10%;
  }
.main-header-video{
  display: none;
}
}